language: python
python:
  - '3.6'
install:
  - python -m pip install --upgrade pip
  - python setup.py install
  - python -m pip install -r requirements_test.txt
before_script:
  - cd test/common/fileserver && python -m http.server 8080 &
script:
  - export PYTHONPATH=lib/ && python -m pytest --cov=lib/ga4gh/ --cov-report=term-missing test/
after_success:
  - coveralls
